@media (max-width: 768px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 50px;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
  nav {
    position: fixed;
    top: 70px;
    left: -15rem;
    width: 15rem;
    height: calc(100vh - 70px);
    transition: var(--transicao);
    z-index: 100;
  }
  nav.ativo {
    left: 0;
  }
  main {
    margin: 1rem;
  }
  #btnMenu {
    display: block;
  }
  #btnMenu.ativo {
    background-color: var(--cor-secundaria);
  }
  header h1 {
    font-size: 1.5rem;
  }
  .filtros {
    flex-direction: column;
    align-items: stretch;
  }
  .filtros input[type="text"],
  .filtros select {
    min-width: 100%;
    margin-bottom: 0.5rem;
  }
  #controlesInventario {
    flex-direction: column;
    align-items: stretch;
  }
}

@media (max-width: 600px) {
  .produtoInfo {
    flex-direction: column;
  }

  .infoCard {
    flex: 1 1 100%;
  }
}
