{% extends 'layout.html' %} {% block modals %}

<dialog id="modalCadastroCategoria">
  <form id="formCadastroCategoria" method="POST" action="/categoria/cadastrar">
    <div class="modalCabecalho">
      <h2 class="tituloModal">Cadastrar Categoria</h2>
      <button
        type="button"
        aria-label="fecharFormulario"
        id="botaoFecharCategoria"
        class="botaoFecharModal"
      >
        <img
          src="{{ url_for('static', filename='assets/icons/fechar.svg') }}"
          alt="fechar.svg"
        />
      </button>
    </div>

    <label for="nomeCategoria">Nome da Categoria</label>
    <input
      type="text"
      id="nomeCategoria"
      name="nomeCategoria"
      placeholder="Digite o nome da categoria..."
      required
    />

    <label for="descricaoCategoria">Descrição</label>
    <textarea
      id="descricaoCategoria"
      name="descricaoCategoria"
      placeholder="Digite a descrição da categoria..."
      rows="3"
    ></textarea>

    <menu>
      <button type="submit" class="botaoPrimario">Salvar</button>
      <button type="button" id="botaoCancelarCategoria">Cancelar</button>
    </menu>
  </form>
</dialog>

<dialog id="modalAlterarCategoria">
  <form id="formAlterarCategoria" method="POST" action="/categoria/alterar">
    <div class="modalCabecalho">
      <h2 class="tituloModal">Cadastrar Categoria</h2>
      <button
        type="button"
        aria-label="Fechar formulário"
        id="botaoFecharAlterarCategoria"
        class="botaoFecharModal"
      >
        <img
          src="{{ url_for('static', filename='assets/icons/fechar.svg')}}"
          alt="fechar.svg"
        />
      </button>
    </div>

    <label for="nomeCategoria">Nome da Categoria</label>
    <input
      type="text"
      id="nomeCategoria"
      name="nomeCategoria"
      placeholder="Digite o nome da categoria..."
      required
    />

    <label for="descricaoCategoria">Descrição</label>
    <textarea
      id="descricaoCategoria"
      name="descricaoCategoria"
      placeholder="Digite a descrição da categoria..."
      rows="3"
    ></textarea>

    <label for="statusCategoria">status</label>
    <input
      type="text"
      id="novoStatusCategoria"
      name="statusCategoria"
      placeholder="Digite o nome da categoria..."
      required
    />

    <menu>
      <button type="submit" class="botaoPrimario">Salvar</button>
      <button type="button" id="botaoAlterarCategoria">Cancelar</button>
    </menu>
  </form>
</dialog>

{% endblock %} {% block javascript %}
<script
  type="module"
  src="{{ url_for('static', filename='js/categoria.js') }}"
></script>
{% endblock %}
