{% extends 'layout.html' %} {% block main %}

<section id="compras">
  <div id="comprasCabecalho">
    <h2 class="paginaTitulo"></h2>
  </div>
  <button id="btnAbrirModalCategoria" class="botaoPrimario">
    <img src="{{ url_for('static', filename='assets/icons/novo.svg') }}" alt="novo.svg" />Nova Categoria
  </button>

  <h3 class="tituloTabela"></h3>

  <div id="controlesCompras">
    <table id="tabelaCompras">
      <thead>
        <tr class="tabelaCabecalho">
          <th>Id</th>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Status</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>

        {% for categoria in categorias %}
        <tr>
          <td>{{categoria['id']}}</td>
          <td>{{categoria['nome']}}</td>
          <td>{{categoria['descricao']}}</td>
          <td>{{ 'Ativo' if categoria['ativo'] == 1 else 'Inativo'}}</td>
          <td>
            <a class="botoesDecisao" href="btnAbrirAlterarCategoria">
              <img src="/static/assets/icons/editar.svg" alt="editar.svg" />
            </a>
            {% if categoria['ativo'] == 1 %}
            <a class="botoesDecisao"
              href="{{url_for('categoria.inativar_categoria',id=categoria['id'])}}">
              <img src="/static/assets/icons/inativar.svg" alt="inativar.svg" />
            </a>
            {% else %}
            <a class="botoesDecisao"
              href="{{url_for('categoria.reativar_categoria',id=categoria['id'])}}">
              <img src="/static/assets/icons/reativar.svg" alt="reativar.svg" />
            </a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</section>

<dialog id="modalCadastroCategoria">
  <form id="formCadastroCategoria" method="POST" action="/categoria/cadastrar">
    <div class="modalCabecalho">
      <h2 class="tituloModal">Cadastrar Categoria</h2>
      <button
        type="button"
        aria-label="fecharFormulario"
        id="botaoFecharCategoria"
        class="botaoFecharModal"
      >
        <img
          src="{{ url_for('static', filename='assets/icons/fechar.svg') }}"
          alt="fechar.svg"
        />
      </button>
    </div>

    <label for="nomeCategoria">Nome da Categoria</label>
    <input
      type="text"
      id="nomeCategoria"
      name="nomeCategoria"
      placeholder="Digite o nome da categoria..."
      required
    />

    <label for="descricaoCategoria">Descrição</label>
    <textarea
      id="descricaoCategoria"
      name="descricaoCategoria"
      placeholder="Digite a descrição da categoria..."
      rows="3"
    ></textarea>

    <menu>
      <button type="submit" class="botaoPrimario">Salvar</button>
      <button type="button" id="botaoCancelarCategoria">Cancelar</button>
    </menu>
  </form>
</dialog>

<!-- modal de editar categoria -->
 

<dialog id="modalAlterarCategoria">
  <form id="formAlterarCategoria" method="POST" action="/categoria/alterar">
    <input type="hidden" name="id" id="editar_id">
    <div class="modalCabecalho">
      <h2 class="tituloModal">Editar Categoria</h2>

       <button 
        type="button" 
        aria-label="Abrir formulário" 
        id="botaoAbrirEditarCategoria" 
        class="botaoAbrirModal">
        
        <img
          src="{{ url_for('static', filename='assets/icons/fechar.svg') }}"
          alt="fechar.svg"
        />

      <button
        type="button"
        aria-label="Fechar formulário"
        id="botaoFecharAlterarCategoria"
        class="botaoFecharModal"
      >
        <img
          src="{{ url_for('static', filename='assets/icons/fechar.svg')}}"
          alt="fechar.svg"
        />
      </button>
    </div>

    <label for="nomeCategoria">Nome da Categoria</label>
    <input
      type="text"
      id="nomeCategoria"
      name="nomeCategoria"
      placeholder="Digite o nome da categoria..."
      required
    />

    <label for="descricaoCategoria">Descrição</label>
    <textarea
      id="descricaoCategoria"
      name="descricaoCategoria"
      placeholder="Digite a descrição da categoria..."
      rows="3"
    ></textarea>

    <label for="statusCategoria">status</label>
    <input
      type="text"
      id="novoStatusCategoria"
      name="statusCategoria"
      placeholder="Digite o nome da categoria..."
      required
    />

    <menu>
      <button type="submit" class="botaoPrimario">Salvar</button>
      <button type="button" id="botaoAlterarCategoria">Cancelar</button>
    </menu>
  </form>
</dialog>

{% endblock %} {% block javascript %}
<script
  type="module"
  src="{{ url_for('static', filename='js/categoria.js') }}"
></script>
{% endblock %}
