{% extends 'layout.html' %} {% block main %}

<section id="comprasProduto">
  <h2 class="paginaTitulo">Histórico de Compras - {{ produto.nome }}</h2>

  <div class="produtoInfoDashboard">
    <div class="infoCard codigo">
      <div class="icon"></div>
      <div class="infoText">
        <span class="infoLabel">Código Original</span>
        <span class="infoValue">{{ produto.codigo_original }}</span>
      </div>
    </div>

    <div class="infoCard categoria">
      <div class="icon"></div>
      <div class="infoText">
        <span class="infoLabel">Categoria</span>
        <span class="infoValue">{{ produto.categoria }}</span>
      </div>
    </div>

    <div class="infoCard fornecedor">
      <div class="icon"></div>
      <div class="infoText">
        <span class="infoLabel">Fornecedor</span>
        <span class="infoValue">{{ produto.fornecedor }}</span>
      </div>
    </div>

    <div
      class="infoCard status {{ 'Ativo' if produto.ativo == 1 else 'Inativo' }}"
    >
      <div class="icon"></div>
      <div class="infoText">
        <span class="infoLabel">Status</span>
        <span class="infoValue"
          >{{ 'Ativo' if produto.ativo == 1 else 'Inativo' }}</span
        >
      </div>
    </div>
  </div>

  <h3 class="tituloTabela">Compras registradas</h3>
  <table id="tabelaCompras" class="tabelaInventario">
    <thead>
      <tr class="tabelaCabecalho">
        <th>ID Compra</th>
        <th>Fornecedor</th>
        <th>Quantidade</th>
        <th>Preço Unitário</th>
        <th>Data da Compra</th>
      </tr>
    </thead>
    <tbody>
      {% for compra in compras %}
      <tr>
        <td>{{ compra.id }}</td>
        <td>{{ compra.fornecedor }}</td>
        <td>{{ compra.quantidade }}</td>
        <td>{{ compra.data_compra.strftime("%d/%m/%Y") }}</td>
      </tr>
      {% else %}
      <tr>
        <td colspan="5">Nenhuma compra registrada para este produto.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <a
    id="btnVoltarInventario"
    href="{{ url_for('inventario.listar_inventario') }}"
  >
    <span class="icon">&#x2B05;</span>
    Voltar ao Inventário
  </a>
</section>

{% endblock %} {% block javascript %}
<script
  type="module"
  src="{{ url_for('static', filename='js/inventario.js') }}"
></script>
{% endblock %}
