{% extends 'layout.html' %} {% block main %}

<section id="compras">
  <div id="comprasCabecalho">
    <h2 class="paginaTitulo">Compras</h2>
    <h3 class="paginaTitulo">Produto</h3>
  </div>

  <div id="controlesCompras">
    <div class="filtrarOpcoes">
      <select class="filtroSelecionar">
        <option value="">Todos os fornecedores</option>
      </select>
    </div>
  </div>

  <table id="tabelaCompras">
    <thead>
      <tr class="tabelaCabecalho">
        <th>ID</th>
        <th>Produto id</th>
        <th>Nome do produto</th>
        <th>Id do fornecedor</th>
        <th>Nome do fornecedor</th>
        <th>Quantidade comprada</th>
        <th>Categoria do produto</th>
        <th>Valor unitário</th>
        <th>Preço da compra</th>
        <th>Data da compra</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody> 
      {%for compra in compras%} 
        <tr> 
          <td>{{compra.id}}</td>
          <td>{{compra.data.strftime("%d/%m/%y")}}</td>
          <td>{{compra.quantidade}}</td>
          <td>{{compra.valorTotal}}</td>
        </tr>
        {%else%} 
        <tr>
          <td colspan="4">Nenhuma compra encontrada para este produto</td>
        </tr>
        {%endfor%}
    </tbody>
  </table>

</section>

{% endblock %}
