{% extends 'layout.html' %} {% block main %}

<section id="modalconfiguracao">
  <div id="configuracaoCabecalho">
    <h2 class="paginaTitulo">Configuração</h2>
  </div>

  <div id="controlesInventario">
    <button id="btnAbrirModalFuncionario" class="botaoPrimario">
      <img
        src="{{ url_for('static', filename='assets/icons/novo.svg') }}"
        alt="novo.svg"
      />Novo Funcionário
    </button>

    <div class="filtros">
      <input type="text" id="filtroNome" placeholder="Filtrar por nome..." />
    </div>
  </div>

  <h3 class="tituloTabela">Funcionarios Registrados</h3>
  <table id="tabelaOperacoes">
    <thead>
      <tr class="tabelaOperacoes">
        <th>Id</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Senha</th>
        <th>Status</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      {% for configuracao in configuracoes %}
      <tr>
        <td>{{configuracao['id']}}</td>
        <td>{{configuracao['nome']}}</td>
        <td>{{configuracao['email']}}</td>
        <td>{{configuracao['senha']}}</td>
        <td>{{configuracao['status']}}</td>
        <td>
          <button
            class="botoesDecisao btnAbrirAlterarConfiguracao"
            href=""
            data-id="{{ configuracao['id'] }}"
          >
            <img src="/static/assets/icons/editar.svg" alt="editar.svg" />
          </button>
          <a
            class="botoesDecisao"
            href="{{url_for('configuracao.deletar_configuracao',id=configuracao['id'])}}"
          >
            <img src="/static/assets/icons/lixeira.svg" alt="lixeira.svg" />
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

<dialog id="modalCadastroFuncionario">
  <form
    id="formCadastroFuncionario"
    method="POST"
    action="/configuracoes/cadastrar"
  >
    <div class="modalCabecalho">
      <h2 class="tituloModal">Cadastrar Usuário</h2>
      <button
        type="button"
        aria-label="CancelarFormulario"
        id="botaoFecharUsuario"
        class="botaoCancelarModal"
      >
        <img
          src="{{ url_for('static', filename='assets/icons/fechar.svg') }}"
          alt="fechar.svg"
        />
      </button>
    </div>

    <label for="nome">Nome do Usuário</label>
    <input
      type="text"
      id="nome"
      name="nome"
      placeholder="Digite o nome do Usuário..."
      required
    />

    <label for="email">Email do Usuário</label>
    <input
      type="text"
      id="email"
      name="email"
      placeholder="Digite o email do Usuário..."
      required
    />

    <label for="senha">Senha do Usuário</label>
    <input
      type="text"
      id="senha"
      name="senha"
      placeholder="Digite a senha do Usuário..."
      required
    />

    <label for="status">Status do funcionario</label>
    <input type="text" id="status" name="status" required />

    <menu>
      <button type="submit" class="botaoPrimario">Salvar</button>
      <button type="button" id="botaoCancelarUsuario">Cancelar</button>
    </menu>
  </form>
</dialog>

<!-- modal de editar configuracao -->

<dialog id="modalEditarUsuario">
  <form id="formEditarUsuario" method="POST" action="/usuario/Editar">
    <div class="modalCabecalho">
      <h2 class="tituloModal">Cadastrar Usuário</h2>
      <button
        type="button"
        aria-label="fecharFormulario"
        id="botaoFecharEditarUsuario"
        class="botaoFecharModal"
      >
        <img
          src="{{ url_for('static', filename='assets/icons/fechar.svg') }}"
          alt="fechar.svg"
        />
      </button>
    </div>

    <label for="nome">Nome do Usuário</label>
    <input
      type="text"
      id="nome"
      name="nome"
      placeholder="Digite o nome do Usuário..."
      required
    />

    <label for="email">Email do Usuário</label>
    <input
      type="text"
      id="email"
      name="email"
      placeholder="Digite o email do Usuário..."
      required
    />

    <label for="senha">Senha do Usuário</label>
    <input
      type="text"
      id="senha"
      name="senha"
      placeholder="Digite a senha do Usuário..."
      required
    />

    <label for="status">Status do funcionario</label>
    <input type="text" id="status" name="status" required />

    <menu>
      <button type="submit" class="botaoPrimario">Salvar</button>
      <button type="button" id="botaoCancelarEditarFuncionario">
        Cancelar
      </button>
    </menu>
  </form>
</dialog>

{% endblock %} {% block javascript %}
<script
  type="module"
  src="{{ url_for('static', filename='js/configuracao.js') }}"
></script>
{% endblock %}
