{% extends 'head.html' %}

{% block content %}
<dialog id="modalCadastroFornecedor">
  <form id="formCadastroFornecedor" method="POST">
    <div class="modalCabecalho">
      <h2 class="tituloModal">Cadastrar Fornecedor</h2>
      <button
        type="button"
        aria-label="Fechar formulário"
        id="botaoFecharCategoria"
        class="botaoFecharModal"
      >
        <img
          src="{{ url_for('static', filename='assets/icons/fechar.svg')}}"
          alt="fechar.svg"
        />
      </button>
    </div>


    <label for="nome">Nome do Fornecedor</label>
    <input
      type="text"
      id="nome"
      name="nomeFornecedor"
      placeholder="Digite o nome do Fornecedor..."
      required
    />

    <label for="nome_fantasia">Nome Fantasia</label>
    <input
      type="text"
      id="nome_fantasia"
      name="nome_fantasia"
      placeholder="Digite o nome Fantasia..."
      required
    />

    <label for="cnpj">CNPJ</label>
    <input
      type="text"
      id="cnpj"
      placeholder="Digite o cnpj do fornecedor..."
    />

    <label for="endereco">Endereço</label>
    <input
      type="text"
      id="endereco"
      name="endereco"
      placeholder="Digite o endereco do fornecedor..."
    />
    
    
    <label for="telefone1">Telefone1</label>
    <input type="text" id="telefone1" placeholder="Digite o telefone..." />

    <label for="telefone2">Telefone2</label>
    <input type="text" id="telefone2" placeholder="Digite o telefone..." />



    <menu>
      <button type="submit" class="botaoPrimario">Salvar</button>
      <button type="button" id="botaoCancelarCategoria">Cancelar</button>
    </menu>
  </form>
</dialog>

{% endblock %}
