{% extends 'layout.html' %} {% block main %}
<section id="inventario">
  <div id="inventarioCabecalho">
    <h2 class="paginaTitulo">Inventário</h2>
  </div>

  <div id="controlesInventario">
    <button id="btnAbrirModalCompra" class="botaoPrimario">
      <img
        src="{{ url_for('static', filename='assets/icons/novo.svg') }}"
        alt="novo.svg"
      />Nova compra
    </button>

    <div class="filtros">
      <input
        type="text"
        id="filtroNomeInventario"
        placeholder="Filtrar por nome..."
      />

      <select id="filtroCategoria">
        <option value="">Todas as categorias</option>
        {% for categoria in categorias %}
        <option value="{{ categoria['id'] }}">{{ categoria['nome'] }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <h3 class="tituloTabela">Tabela atual do estoque</h3>
  <div class="table-container">
    <table id="tabelaInventario" class="tabelaInventario">
      <thead>
        <tr class="tabelaCabecalho">
          <th title="ID">ID</th>
          <th title="Nome">Nome</th>
          <th title="Categoria">Categoria</th>
          <th title="Código Original">Código Original</th>
          <th title="Quantidade Total">Quantidade Total</th>
          <th title="Status">Status</th>
          <th title="Ações">Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for produto in produtos %}
        <tr data-categoria-id="{{ produto['categoria_id'] }}">
          <td title="{{ produto['id'] }}">{{ produto['id'] }}</td>
          <td title="{{ produto['nome'] }}">{{ produto['nome'] }}</td>
          <td title="{{ produto['categoria'] }}">{{ produto['categoria'] }}</td>
          <td title="{{ produto['codigo_original'] }}">
            {{ produto['codigo_original'] }}
          </td>
          <td title="{{ produto['quantidade_total'] }}">
            {{ produto['quantidade_total'] }}
          </td>
          <td>
            <span
              class="badge-status {{ 'badge-ativo' if produto.ativo == 1 else 'badge-inativo' }}"
            >
              {{ 'Ativo' if produto.ativo == 1 else 'Inativo' }}
            </span>
          </td>
          <td title="Ver detalhado">
            <a
              class="btn-ver-detalhado"
              href="{{ url_for('compra.compras_por_produto', produto_id=produto['id']) }}"
            >
              <span class="icon-ver">&#128065;</span> Ver detalhado
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

<dialog id="modalCadastroCompra">
  <form id="formCadastroCompra" method="POST" action="/inventario/cadastrar">
    <div class="modalCabecalho">
      <h2 class="tituloModal">Nova Compra</h2>
      <button
        type="button"
        aria-label="fecharFormulario"
        id="botaoFecharCompra"
        class="botaoFecharModal"
      >
        <img
          src="{{ url_for('static', filename='assets/icons/fechar.svg') }}"
          alt="fechar.svg"
        />
      </button>
    </div>

    <label for="produto_id">Produto</label>
    <select id="produto_id" name="produto_id" required>
      <option value="">Selecione o produto</option>
      {% for produto in produtos %}
      <option value="{{ produto['id'] }}">{{ produto['nome'] }}</option>
      {% endfor %}
    </select>

    <label for="fornecedor_id">Fornecedor</label>
    <select id="fornecedor_id" name="fornecedor_id" required>
      <option value="">Selecione o fornecedor</option>
      {% for fornecedor in fornecedores %}
      <option value="{{ fornecedor['id'] }}">
        {{ fornecedor['nome_fantasia'] }}
      </option>
      {% endfor %}
    </select>

    <label for="quantidade">Quantidade</label>
    <input
      type="number"
      id="quantidade"
      name="quantidade"
      placeholder="Digite a quantidade..."
      min="0.01"
      step="0.01"
      required
    />

    <label for="preco_unitario">Preço unitário</label>
    <input
      type="number"
      id="preco_unitario"
      name="preco_unitario"
      placeholder="R$ 0,00"
      step="0.01"
      min="0"
      required
    />

    <label for="preco_compra">Preço total da compra</label>
    <input
      type="number"
      id="preco_compra"
      name="preco_compra"
      placeholder="R$ 0,00"
      step="0.01"
      min="0"
      required
    />

    <label for="data_compra">Data da compra</label>
    <input
      type="date"
      id="data_compra"
      name="data_compra"
      value="{{ date.today().isoformat() }}"
      required
    />

    <menu>
      <button type="submit" class="botaoPrimario">Salvar</button>
      <button type="button" id="botaoCancelarCompra">Cancelar</button>
    </menu>
  </form>
</dialog>

{% endblock %} {% block javascript %}
<script
  type="module"
  src="{{ url_for('static', filename='js/inventario.js') }}"
></script>
{% endblock %}
