<!DOCTYPE html>
<html lang="pt-Br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tudo no controle</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/painelControle.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/animacoesPainel.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/painelControleRes.css') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <!-- Cabeçalho -->
    <header>
      <div class="logo-container">
        <button id="acessoNav">
          <img
            src="{{ url_for('static', filename='assets/icons/menu.svg') }}"
            alt="menu.svg"
          />
        </button>
        <img
          id="logoIcone"
          src="{{ url_for('static', filename='assets/images/logoTdC.png') }}"
          alt="#"
        />
        <h1 id="tituloPrincipal">Tudo no Controle</h1>
      </div>
      <div class="perfilUsuario">
        <button id="btnSpinner" class="spinner" style="display: none"></button>
        <h2 id="bemVindo"></h2>
        <button id="btnLogout">Sair</button>
      </div>
    </header>

    <!-- Barra de navegação -->
    <nav>
      <div class="navSessao">
        <h2 class="navTitulo">Principal</h2>
        <a href="#" class="navLink ativo" data-destino="dashboard">
          <img
            src="{{ url_for('static', filename='assets/icons/dashboard.svg') }}"
            alt="dashboard"
          />
          <span>Dashboard</span>
        </a>
      </div>

      <div class="navSessao">
        <h2 class="navTitulo">Módulos</h2>
        {% if session['estado'] == "Administrador" %}
        <a href="#" class="navLink" data-destino="compras">
          <img
            src="{{ url_for('static', filename='assets/icons/compras.svg') }}"
            alt="compras.svg"
          />
          <span>Compras</span>
        </a>
        {% endif %}
        <a href="#" class="navLink" data-destino="vendas">
          <img
            src="{{ url_for('static', filename='assets/icons/vendas.svg') }}"
            alt="vendas.svg"
          />
          <span>Vendas</span>
        </a>
        {% if session['estado'] == "Administrador" %}
        <a href="#" class="navLink" data-destino="inventario">
          <img
            src="{{ url_for('static', filename='assets/icons/estoque.svg') }}"
            alt="estoque.svg"
          />
          <span>Inventário</span>
        </a>
        {% endif %}
      </div>

      <div class="navSessao">
        {% if session['estado'] == "Administrador" %}
        <h2 class="navTitulo">Operacional</h2>
        <a href="#" class="navLink" data-destino="operacoes">
          <img
            src="{{ url_for('static', filename='assets/icons/configuracoes.svg') }}"
            alt="config.svg"
          />
          <span>Configurações</span>
        </a>
        {% endif %}
      </div>
    </nav>

    <!-- Conteúdo Principal -->
    <main>
      <!-- DashBoard-->
      <section id="dashboard">
        <div class="cabecalhoPagina">
          <h2 class="paginaTitulo">Dashboard</h2>
          <p class="subtitulo">Início / Dashboard</p>
        </div>
        <div class="dashboardGrid">
          <div class="cartao">
            <div class="cabecalhoCartao">
              <h3 class="tituloCartao">Vendas Hoje</h3>
              <div class="iconeCartao">
                <img
                  src="{{ url_for('static', filename='assets/icons/vendas.svg') }}"
                  alt="vendas.svg"
                />
              </div>
            </div>
            <div class="valorCartao">R$ 45.237,89</div>
            <div class="descricaoCartao">+12% em relação a ontem</div>
          </div>
          <div class="cartao">
            <div class="cabecalhoCartao">
              <h3 class="tituloCartao">Pedidos Pendentes</h3>
              <div class="iconeCartao">
                <img
                  src="{{ url_for('static', filename='assets/icons/alerta.svg') }}"
                  alt="alerta.svg"
                />
              </div>
            </div>
            <div class="valorCartao">25</div>
            <div class="descricaoCartao">-2 desde ontem</div>
          </div>
          <div class="cartao">
            <div class="cabecalhoCartao">
              <h3 class="tituloCartao">Novos fornecedores</h3>
              <div class="iconeCartao">
                <img
                  src="{{ url_for('static', filename='assets/icons/pessoas.svg') }}"
                  alt="pessoas.svg"
                />
              </div>
            </div>
            <div class="valorCartao">14</div>
            <div class="descricaoCartao">+7 novos esta semana</div>
          </div>
        </div>

        <div class="dashboardGrid">
          <div class="graficos">
            <canvas id="chartContainer1" class="graficoContainer"></canvas>
          </div>
          <div class="graficos">
            <canvas id="chartContainer2" class="graficoContainer"></canvas>
          </div>
          <div class="graficos">
            <canvas id="chartContainer3" class="graficoContainer"></canvas>
          </div>
        </div>
      </section>

      <!-- Compras -->
      <section id="compras" style="display: none">
        <div id="comprasCabecalho">
          <h2 class="paginaTitulo">Compras</h2>
        </div>

        <div id="controlesCompras">
          <button id="btnAbrirModalCompra" class="botaoPrimario">
            <img
              src="{{ url_for('static', filename='assets/icons/novo.svg') }}"
              alt="novo.svg"
            />Nova Compra
          </button>
          <button id="btnAbrirModalFornecedor" class="botaoPrimario">
            <img
              src="{{ url_for('static', filename='assets/icons/novo.svg') }}"
              alt="novo.svg"
            />Novo fornecedor
          </button>
          <div class="filtrarOpcoes">
            <select class="filtroSelecionar">
              <option value="">Todos os status</option>
              <option value="pendente">Pendente</option>
              <option value="recebido">Recebido</option>
              <option value="cancelado">Cancelado</option>
            </select>
          </div>
        </div>

        <h3 class="tituloTabela">Compras Registradas</h3>
        <table id="tabelaCompras">
          <thead>
            <tr class="tabelaCabecalho">
              <th>ID</th>
              <th>Produto id</th>
              <th>Nome do produto</th>
              <th>Id do fornecedor</th>
              <th>Nome do fornecedor</th>
              <th>Quantidade comprada</th>
              <th>Categoria do produto</th>
              <th>Preço da compra</th>
              <th>Data da compra</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </section>

      <!-- Vendas -->
      <section id="vendas" style="display: none">
        <div id="vendasCabecalho">
          <div id="caixaVendas">
            <h2 class="paginaTitulo">Vendas</h2>
            <div id="vendasSumario">
              <div class="sumarioEstado total">
                <span>Total Vendido Hoje</span>
                <strong></strong>
              </div>
              <div class="sumarioEstado realizadas">
                <span>Vendas Realizadas</span>
                <strong></strong>
              </div>
            </div>
          </div>
        </div>

        <div id="controlesVendas">
          <button id="btnAbrirModalVenda" class="botaoPrimario">
            <img
              src="{{ url_for('static', filename='assets/icons/novo.svg') }}"
              alt="novo.svg"
            />Nova Venda
          </button>
          <div class="filtrarOpcoes">
            <select class="filtroSelecionar">
              <option value="">Todos os pagamentos</option>
              <option value="dinheiro">Dinheiro</option>
              <option value="cartao">Cartão</option>
              <option value="pix">PIX</option>
              <option value="fiado">Fiado</option>
            </select>
          </div>
          <div class="filtrarOpcoes">
            <select class="filtroSelecionar">
              <option value="">Todos os status</option>
              <option value="pendente">Pago</option>
              <option value="recebido">Pendente</option>
              <option value="cancelado">Cancelado</option>
            </select>
          </div>
        </div>

        <h3 class="tituloTabela">Vendas Registradas</h3>
        <table id="tabelaVendas">
          <thead>
            <tr class="tabelaCabecalho">
              <th>ID</th>
              <th>Nome do produto</th>
              <th>Produto_id</th>
              <th>Nome do cliente</th>
              <th>Quantidade vendida</th>
              <th>Total da venda</th>
              <th>Data de venda</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </section>

      <!-- Estoque -->
      <section id="inventario" style="display: none">
        <div id="inventarioCabecalho">
          <div id="caixaInventario">
            <h2 class="paginaTitulo">Inventário</h2>
            <div id="inventarioSumario">
              <div class="sumarioEstado total">
                <span>Produtos Totais</span>
                <strong id="totalQuant"></strong>
              </div>
              <div class="sumarioEstado alerta">
                <span>Baixo Estoque</span>
                <strong id="baixoEstoq"></strong>
              </div>
              <div class="sumarioEstado perigo">
                <span>Sem Estoque</span>
                <strong id="semEstoq"></strong>
              </div>
            </div>
          </div>
        </div>

        <div id="controlesInventario">
          <button id="btnAbrirModalEstoque" class="botaoPrimario">
            <img
              src="{{ url_for('static', filename='assets/icons/novo.svg') }}"
              alt="novo.svg"
            />Novos produtos
          </button>
          <button id="btnAbrirModalCategoria" class="botaoPrimario">
            <img
              src="{{ url_for('static', filename='assets/icons/novo.svg') }}"
              alt="novo.svg"
            />Nova categoria
          </button>

          <div class="filtrarOpcoes">
            <label for="filtroTipo">Filtrar por tipo:</label>
            <select id="filtroTipo" class="filtroSelecionar">
              <option value="">Todos</option>
              <option value="linha">Linha</option>
              <option value="tecido">Tecido</option>
              <option value="extra">Extra</option>
            </select>
          </div>

          <input
            type="text"
            id="campoPesquisa"
            placeholder="Pesquisar pelo nome..."
          />
        </div>

        <h3 class="tituloTabela">Tabela dos produtos ativos</h3>
        <table id="tabelaProdutos" class="tabelaInventario">
          <thead>
            <tr class="tabelaCabecalho">
              <th>ID</th>
              <th>Nome</th>
              <th>Categoria do produto</th>
              <th>Código Original</th>
              <th>Preço Base</th>
              <th>Marca</th>
              <th>Tamanho</th>
              <th>Cor</th>
              <th>Data Cadastro</th>
              <th>Quantidade</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>

        <h3 class="tituloTabela">Tabela dos produtos inativos</h3>
        <table id="tabelaInativos" class="tabelaInventario">
          <thead>
            <tr class="tabelaCabecalho">
              <th>ID</th>
              <th>Nome</th>
              <th>Categoria do produto</th>
              <th>Código Original</th>
              <th>Preço Base</th>
              <th>Marca</th>
              <th>Tamanho</th>
              <th>Cor</th>
              <th>Data Cadastro</th>
              <th>Quantidade</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </section>

      <section id="operacoes" style="display: none">
        <div id="operacoes">
          <div id="caixaUsuario">
            <h2 class="paginaTitulo">Configurações</h2>
            <div id="operacoesSumario">
              <div class="sumarioEstado total">
                <span>Usuários Cadastrados</span>
                <strong>23</strong>
              </div>
            </div>
          </div>
        </div>

        <div id="controlesOperacoes">
          <button id="btnAbrirModalConfig" class="botaoPrimario">
            <img
              src="{{ url_for('static', filename='assets/icons/novo.svg') }}"
              alt="novo.svg"
            />Novos Usuários
          </button>
        </div>

        <table id="tabelaOperacoes">
          <thead>
            <tr class="tabelaCabecalho">
              <th>ID</th>
              <th>Usuário</th>
              <th>Email</th>
              <th>Senha</th>
              <th>Status</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </section>
    </main>

    <!-- Rodapé -->
    <footer>
      <p>Tudo no Controle © 2025 - Versão 3.0</p>
    </footer>

    <!-- Modal para o registro de novas compras -->
    <dialog id="modalRegistroCompra">
      <form id="formRegistroCompra" method="POST">
        <div class="modalCabecalho">
          <h2 class="tituloModal">Registrar Compra</h2>
          <button
            type="button"
            id="botaoFecharCompra"
            class="botaoFecharModalCompra"
          >
            <img
              src="{{ url_for('static', filename='assets/icons/fechar.svg')}}"
              alt="fechar.svg"
            />
          </button>
        </div>

        <!-- Campos de compras-->
        <label for="produto_id">Produto_id</label>
        <input
          type="text"
          id="produto_id"
          placeholder="Digite o id do produto..."
          required
        />

        <label for="produto_nome">Nome do Produto</label>
        <input type="text" id="produto_nome" name="produto_nome" readonly />

        <label for="categoria_compra">Categoria</label>
        <input
          type="text"
          id="categoria_compra"
          placeholder="Digite a categoria do produto..."
        />
        <!-- mexendo aqui -->
        <label for="fornecedor_id">Fornecedor_id</label>
        <select id="fornecedor_id" name="fornecedor_id">
          <option value="">Selecione uma opção</option>
        </select>

        <label for="fornecedor_id">Fornecedor_id</label>
        <input
          type="text"
          id="fornecedor_id"
          placeholder="Digite o id do fornecedor..."
          required
        />

        <label for="fornecedor_nome">Nome do Fornecedor</label>
        <input
          type="text"
          id="fornecedor_nome"
          name="fornecedor_nome"
          readonly
        />

        <label for="quantidade">Quantidade</label>
        <input
          type="text"
          id="quantidade"
          placeholder="Digite a quantidade..."
        />

        <label for="preco_compra">Preço_compra</label>
        <input type="text" id="preco_compra" placeholder="Digite o Preço..." />

        <label for="data_compra">data_compra</label>
        <input
          type="text"
          id="data_compra"
          placeholder="Digite a data da compra..."
        />

        <menu>
          <button type="submit" class="botaoPrimario">Salvar</button>
          <button type="button" id="botaoCancelarCompra">Cancelar</button>
        </menu>
      </form>
    </dialog>

    <!-- Modal para o registro de novas vendas -->
    <dialog id="modalRegistroVenda">
      <form id="formRegistroVenda" method="POST">
        <div class="modalCabecalho">
          <h2 class="tituloModal">Registrar Venda</h2>
          <button type="button" id="botaoFecharVenda" class="botaoFecharModal">
            <img
              src="{{ url_for('static', filename='assets/icons/fechar.svg')}}"
              alt="fechar"
            />
          </button>
        </div>

        <div class="grupoFormulario">
          <label for="clienteVenda">Nome do Cliente</label>
          <input type="text" id="clienteVenda" name="clienteVenda" />

          <label for="dataVenda">Data da Venda</label>
          <input type="date" id="dataVenda" name="data_venda" required />

          <label>Itens da Venda</label>
          <div class="itensVenda">
            <select name="produto" id="produto_id">
              <option value="" disabled selected>Selecione o Produto</option>
            </select>
            <input
              type="number"
              id="quantidadeProduto"
              min="1"
              step="1"
              placeholder="Quantidade"
            />
            <button type="button" id="btnAdicionarItem">Adicionar</button>
          </div>

          <table id="tabelaItensVenda">
            <thead>
              <tr>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Preço Unitário</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>

          <label for="valorTotalVenda">Valor Total</label>
          <input
            type="number"
            id="valorTotalVenda"
            name="valor_total"
            step="0.01"
            min="0"
            readonly
          />

          <label for="formaPagamentoVenda">Forma de Pagamento</label>
          <select id="formaPagamentoVenda" name="forma_pagamento" required>
            <option value="" disabled selected>Selecione</option>
            <option value="dinheiro">Dinheiro</option>
            <option value="pix">PIX</option>
            <option value="cartao">Cartão</option>
            <option value="boleto">Boleto</option>
          </select>
        </div>

        <menu>
          <button type="submit" class="botaoPrimario">Registrar Venda</button>
          <button type="button" id="botaoCancelarVenda" class="botaoSecundario">
            Cancelar
          </button>
        </menu>
      </form>
    </dialog>

    <dialog id="modalCadastroCategoria">
      <form id="formCadastroCategoria" method="POST">
        <div class="modalCabecalho">
          <h2 class="tituloModal">Cadastrar Categoria</h2>
          <button
            type="button"
            aria-label="Fechar formulário"
            id="botaoFecharCategoria"
            class="botaoFecharModal"
          >
            <img
              src="{{ url_for('static', filename='assets/icons/fechar.svg')}}"
              alt="fechar.svg"
            />
          </button>
        </div>

        <label for="nomeCategoria">Nome da Categoria</label>
        <input
          type="text"
          id="nomeCategoria"
          name="nomeCategoria"
          placeholder="Digite o nome da categoria..."
          required
        />

        <label for="descricaoCategoria">Descrição</label>
        <textarea
          id="descricaoCategoria"
          name="descricaoCategoria"
          placeholder="Digite a descrição da categoria..."
          rows="3"
        ></textarea>

        <menu>
          <button type="submit" class="botaoPrimario">Salvar</button>
          <button type="button" id="botaoCancelarCategoria">Cancelar</button>
        </menu>
      </form>
    </dialog>

    <!-- Modal para o cadastro de novos produtos -->
    <dialog id="modalCadastroProduto">
      <form id="formCadastroProduto" method="POST">
        <div class="modalCabecalho">
          <h2 class="tituloModal">Cadastrar produto</h2>
          <button
            type="button"
            aria-label="Fechar formulário"
            id="botaoFecharModal"
            class="botaoFecharModal"
          >
            <img
              src="{{ url_for('static', filename='assets/icons/fechar.svg')}}"
              alt="fechar.svg"
            />
          </button>
        </div>

        <!-- Campos do Produto -->
        <label for="nomeProduto">Nome do Produto</label>
        <input
          type="text"
          id="nomeProduto"
          placeholder="Digite o nome do produto..."
          required
        />

        <label for="categoriaProduto">Categoria do Produto</label>
        <select id="categoriaProduto" required></select>

        <label for="codigoProduto">Código</label>
        <input
          type="text"
          id="codigoProduto"
          placeholder="Digite o código do produto..."
          required
        />

        <label for="marcaProduto">Marca</label>
        <input type="text" id="marcaProduto" placeholder="Digite a marca..." />

        <label for="tamanhoProduto">Tamanho</label>
        <input
          type="text"
          id="tamanhoProduto"
          placeholder="Digite o tamanho..."
        />

        <label for="corProduto">Cor</label>
        <input type="text" id="corProduto" placeholder="Digite a cor..." />

        <label for="precoProduto">Preço Base</label>
        <input
          type="number"
          id="precoProduto"
          placeholder="Digite o preço base..."
          step="0.01"
          min="0"
          required
        />

        <label for="quantidadeProduto">Quantidade Inicial</label>
        <input
          type="number"
          id="quantidadeProduto"
          placeholder="Digite a quantidade inicial..."
          min="0"
        />

        <label for="dataCadastroProduto">Data de Cadastro</label>
        <input type="date" id="dataCadastroProduto" required />

        <menu>
          <button type="submit" class="botaoPrimario">Salvar</button>
          <button type="button" id="botaoCancelarModal">Cancelar</button>
        </menu>
      </form>
    </dialog>

    <!-- Modal de edição dos produtos -->
    <dialog id="modalEditarProduto">
      <form id="formEditarProduto" method="POST">
        <div class="modalCabecalho">
          <h2 class="tituloModal">Editar Produto</h2>
          <button
            type="button"
            aria-label="Fechar formulário"
            id="botaoFecharModalEditar"
            class="botaoFecharModal"
          >
            <img
              src="{{ url_for('static', filename='assets/icons/fechar.svg')}}"
              alt="fechar.svg"
            />
          </button>
        </div>

        <input type="hidden" id="editarProdutoId" />

        <label for="editarNomeProduto">Nome</label>
        <input
          type="text"
          id="editarNomeProduto"
          placeholder="Digite o nome do produto..."
          required
        />

        <label for="editarTipoProduto">Tipo de Produto</label>
        <select id="editarTipoProduto" disabled>
          <option value="">Selecione</option>
        </select>

        <label for="editarCodigoProduto">Código</label>
        <input
          type="text"
          id="editarCodigoProduto"
          placeholder="Digite o código do produto..."
          required
        />

        <label for="editarMarcaProduto">Marca</label>
        <input
          type="text"
          id="editarMarcaProduto"
          placeholder="Digite a marca..."
        />

        <label for="editarMaterialProduto">Material</label>
        <input
          type="text"
          id="editarMaterialProduto"
          placeholder="Digite o material..."
        />

        <label for="editarTamanhoProduto">Tamanho</label>
        <input
          type="text"
          id="editarTamanhoProduto"
          placeholder="Digite o tamanho..."
        />

        <label for="editarCorProduto">Cor</label>
        <input
          type="text"
          id="editarCorProduto"
          placeholder="Digite a cor..."
        />

        <label for="editarPrecoProduto">Preço Base</label>
        <input
          type="number"
          id="editarPrecoProduto"
          placeholder="Digite o preço base..."
          step="0.01"
          min="0"
          required
        />

        <label for="editarQuantidadeProduto">Quantidade</label>
        <input
          type="number"
          id="editarQuantidadeProduto"
          placeholder="Digite a quantidade..."
          min="0"
        />

        <label for="editarDataCadastroProduto">Data de Cadastro</label>
        <input type="date" id="editarDataCadastroProduto" required />

        <menu>
          <button
            type="button"
            class="botaoPrimario"
            onclick="salvarEdicaoProduto()"
          >
            Salvar Alterações
          </button>
          <button type="button" id="botaoCancelarModalEditar">Cancelar</button>
        </menu>
      </form>
    </dialog>

    ```html
    <dialog id="modalEditarUsuario">
      <form id="formEditarUsuario" method="POST">
        <!-- Cabeçalho -->
        <div class="modalCabecalho">
          <h2 class="tituloModal">Editar Usuário</h2>
          <button
            type="button"
            aria-label="Fechar formulário"
            id="botaoFecharModalEditar"
            class="botaoFecharModal"
          >
            <img
              src="{{ url_for('static', filename='assets/icons/fechar.svg')}}"
              alt="Fechar"
            />
          </button>
        </div>

        <label for="nomeUsuario">Nome do Usuário</label>
        <input type="text" id="nomeUsuario" name="nome_usuario" required />

        <label for="emailUsuario">Email do Usuário</label>
        <input type="email" id="emailUsuario" name="email_usuario" required />

        <label for="senhaUsuario">Senha do Usuário</label>
        <input
          type="password"
          id="senhaUsuario"
          name="senha_usuario"
          required
        />

        <label for="selectCargo">Cargo</label>
        <select id="selectCargo" name="cargo" required>
          <option value="" disabled selected>Selecione</option>
          <option value="administrador">Administrador</option>
          <option value="funcionario">Funcionário</option>
        </select>

        <menu>
          <button type="submit" class="botaoPrimario">Salvar Usuário</button>
          <button
            type="button"
            id="botaoCancelarModalEditar"
            class="botaoSecundario"
          >
            Cancelar
          </button>
        </menu>
      </form>
    </dialog>

    <div id="toastContainer" class="toast-container"></div>

    <script
      type="module"
      src="{{ url_for('static', filename='js/painelControle.js') }}"
    ></script>
    <script src="{{ url_for('static', filename='js/graficos.js')}}"></script>
    <script src="{{ url_for('static', filename='js/compras.js') }}"></script>
  </body>
</html>
