{% extends 'layout.html' %} {% block main %}

<section id="inventario">
  <div id="inventarioCabecalho">
    <h2 class="paginaTitulo">Produtos</h2>
  </div>

  <div id="controlesInventario">
    <button id="btnAbrirModalProduto" class="botaoPrimario">
      <img
        src="{{ url_for('static', filename='assets/icons/novo.svg') }}"
        alt="novo.svg"
      />Nova categoria
    </button>

    <div class="filtrarOpcoes">
      <label for="filtroTipo">Filtrar por tipo:</label>
      <select id="filtroTipo" class="filtroSelecionar">
        <option value="">Todos</option>
        <option value="linha">Linha</option>
        <option value="tecido">Tecido</option>
        <option value="extra">Extra</option>
      </select>
    </div>

    <input
      type="text"
      id="campoPesquisa"
      placeholder="Pesquisar pelo nome..."
    />
  </div>

  <h3 class="tituloTabela">Tabela dos produtos cadastrados</h3>
  <table id="tabelaProdutos" class="tabelaInventario">
    <thead>
      <tr class="tabelaCabecalho">
        <th>ID</th>
        <th>Nome</th>
        <th>Categoria</th>
        <th>Fornecedor</th>
        <th>Código Original</th>
        <th>Preço Base</th>
        <th>Marca</th>
        <th>Tamanho</th>
        <th>Cor</th>
        <th>Data Cadastro</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for produto in produtos %}
      <tr
        data-categoria-id="{{ produto['categoria_id'] }}"
        data-fornecedor-id="{{ produto['fornecedor_id'] }}"
      >
        <td>{{ produto['id'] }}</td>
        <td>{{ produto['nome'] }}</td>
        <td>{{ produto['categoria'] }}</td>
        <td>{{ produto['fornecedor'] }}</td>
        <td>{{ produto['codigo_original'] }}</td>
        <td>R$ {{ "%.2f"|format(produto['preco_base']) }}</td>
        <td>{{ produto['marca'] }}</td>
        <td>{{ produto['tamanho'] }}</td>
        <td>{{ produto['cor'] }}</td>
        <td>{{ produto['data_cadastro'] }}</td>
        <td>{{ 'Ativo' if produto['ativo'] == 1 else 'Inativo' }}</td>
        <td>
          <button
            class="botoesDecisao btnAbrirModalAlterarProduto"
            href=""
            data-id="{{ produto['id'] }}"
          >
            <img src="/static/assets/icons/editar.svg" alt="editar" />
          </button>

          {% if produto['ativo'] == 1 %}
          <a
            class="botoesDecisao"
            href="{{url_for('produto.inativar_produto',id=produto['id'])}}"
          >
            <img src="/static/assets/icons/inativar.svg" alt="inativar" />
          </a>
          {% else %}
          <a
            class="botoesDecisao"
            href="{{url_for('produto.reativar_produto',id=produto['id'])}}"
          >
            <img src="/static/assets/icons/reativar.svg" alt="reativar" />
          </a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

<!-- MODAL CADASTRO -->
<dialog id="modalCadastroProduto">
  <form id="formCadastroProduto" method="POST" action="/produto/cadastrar">
    <div class="modalCabecalho">
      <h2 class="tituloModal">Cadastrar Produto</h2>
      <button
        type="button"
        aria-label="Fechar formulário"
        id="botaoFecharProduto"
      >
        <img
          src="{{ url_for('static', filename='assets/icons/fechar.svg')}}"
          alt="fechar"
        />
      </button>
    </div>

    <label for="nomeCadastro">Nome do Produto</label>
    <input
      type="text"
      id="nomeCadastro"
      name="nome"
      placeholder="Digite o nome do produto..."
      required
    />

    <label for="categoriaCadastro">Categoria do Produto</label>
    <select id="categoriaCadastro" name="categoria_id" required>
      <option value="">Selecione a categoria</option>
      {% for categoria in categorias %}
      <option value="{{categoria['id']}}">{{categoria['nome']}}</option>
      {% endfor %}
    </select>

    <label for="fornecedorCadastro">Fornecedor</label>
    <select id="fornecedorCadastro" name="fornecedor_id" required>
      <option value="">Selecione o fornecedor</option>
      {% for fornecedor in fornecedores %}
      <option value="{{fornecedor['id']}}">{{fornecedor['nome']}}</option>
      {% endfor %}
    </select>

    <label for="codigoCadastro">Código</label>
    <input
      type="text"
      id="codigoCadastro"
      name="codigo_original"
      placeholder="Digite o código do produto..."
      required
    />

    <label for="marcaCadastro">Marca</label>
    <input
      type="text"
      id="marcaCadastro"
      name="marca"
      placeholder="Digite a marca..."
    />

    <label for="tamanhoCadastro">Tamanho</label>
    <input
      type="text"
      id="tamanhoCadastro"
      name="tamanho"
      placeholder="Digite o tamanho..."
    />

    <label for="corCadastro">Cor</label>
    <input
      type="text"
      id="corCadastro"
      name="cor"
      placeholder="Digite a cor..."
    />

    <label for="precoCadastro">Preço Base</label>
    <input
      type="number"
      id="precoCadastro"
      name="preco_base"
      placeholder="Digite o preço base..."
      step="0.01"
      min="0"
      required
    />

    <label for="dataCadastro">Data de Cadastro</label>
    <input type="date" id="dataCadastro" name="data_cadastro" required />

    <menu>
      <button type="submit" class="botaoPrimario">Salvar</button>
      <button type="button" id="botaoCancelarCadastro">Cancelar</button>
    </menu>
  </form>
</dialog>

<!-- MODAL ALTERAR -->
<dialog id="modalAlterarProduto">
  <form id="formAlterarProduto" method="POST" action="/produto/alterar">
    <div class="modalCabecalho">
      <h2 class="tituloModal">Alterar Produto</h2>
      <button
        type="button"
        aria-label="Fechar formulário"
        id="botaoFecharAlterar"
      >
        <img
          src="{{ url_for('static', filename='assets/icons/fechar.svg')}}"
          alt="fechar"
        />
      </button>
    </div>

    <input type="hidden" id="idAlterar" name="id" />

    <label for="nomeAlterar">Nome do Produto</label>
    <input type="text" id="nomeAlterar" name="nome" required />

    <label for="categoriaAlterar">Categoria do Produto</label>
    <select id="categoriaAlterar" name="categoria_id" required>
      {% for categoria in categorias %}
      <option value="{{categoria['id']}}">{{categoria['nome']}}</option>
      {% endfor %}
    </select>

    <label for="fornecedorAlterar">Fornecedor</label>
    <select id="fornecedorAlterar" name="fornecedor_id" required>
      {% for fornecedor in fornecedores %}
      <option value="{{fornecedor['id']}}">{{fornecedor['nome']}}</option>
      {% endfor %}
    </select>

    <label for="codigoAlterar">Código</label>
    <input type="text" id="codigoAlterar" name="codigo_original" required />

    <label for="marcaAlterar">Marca</label>
    <input type="text" id="marcaAlterar" name="marca" />

    <label for="tamanhoAlterar">Tamanho</label>
    <input type="text" id="tamanhoAlterar" name="tamanho" />

    <label for="corAlterar">Cor</label>
    <input type="text" id="corAlterar" name="cor" />

    <label for="precoAlterar">Preço Base</label>
    <input
      type="number"
      id="precoAlterar"
      name="preco_base"
      step="0.01"
      min="0"
      required
    />

    <label for="dataAlterar">Data de Cadastro</label>
    <input type="date" id="dataAlterar" name="data_cadastro" required />

    <menu>
      <button type="submit" class="botaoPrimario">Salvar</button>
      <button type="button" id="botaoCancelarAlterar">Cancelar</button>
    </menu>
  </form>
</dialog>

{% endblock %} {% block javascript %}
<script
  type="module"
  src="{{ url_for('static', filename='js/produto.js') }}"
></script>
{% endblock %}
